<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <!--<add key="BaseDirectory" value="C:\Users\Affenbande\source\repos\RetroLotti\MagicTheGatheringProxyDrafter\src"/>-->
    <add key="BaseDirectory" value="C:\Development\Misc\MgcPrxyDrftr_\src"/>
    <add key="JsonDirectory" value="json"/>
    <add key="SetDirectory" value="sets"/>
    <add key="BoosterDirectory" value="booster"/>
    <add key="CacheDirectory" value="cache" />
    <add key="ScryfallCacheDirectory" value="scryfall" />
    <add key="ScriptDirectory" value="scripts"/>
    <add key="DraftDirectory" value="draft"/>
    <add key="DefaultScriptName" value="booster.v3"/>
    <add key="DefaultScriptNameNoGuid" value="booster.noguid.v3"/>
    <add key="DefaultImageType" value="png"/>
    <add key="DefaultCardLanguage" value="en"/>
    <add key="NanDeckPath" value="ext\nandeck\nandeck.exe"/>
    <add key="UseSetList" value="true"/>
  </appSettings>
</configuration>