<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <!--<add key="BaseDirectory" value="C:\Users\Affenbande\source\repos\RetroLotti\MagicTheGatheringProxyDrafter\src"/>-->
    <add key="BaseDirectory" value="C:\Users\19137590\Source\Repos\MgcPrxyDrftr\src"/>
    <add key="JsonDirectory" value="json"/>
    <add key="SetDirectory" value="sets"/>
    <add key="BoosterDirectory" value="booster"/>
    <add key="CacheDirectory" value="cache" />
    <add key="ScryfallCacheDirectory" value="scryfall" />
    <add key="ScriptDirectory" value="scripts"/>
    <add key="DraftDirectory" value="draft"/>
    <add key="DefaultImageType" value="png"/>
    <add key="UseSetList" value="true"/>
  </appSettings>
</configuration>