# enable the rewrite engine
RewriteEngine On

# check if the requested file exists at all
RewriteCond %{REQUEST_FILENAME} !-f

# Match the desired URL structure
RewriteRule ^([^/]+)/([^/]+)/([^/]+)/?$ boosters.php?s=$1&b=$2&a=$3 [QSA]
RewriteRule ^([^/]+)/([^/]+)/([^/]+)/?$ boosters.dev.php?s=$1&b=$2&a=$3 [QSA,L]
#RewriteRule ^(.*)$ api.php [QSA,L]